/* Reset some basic elements */
body, ul, li, button {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Tilt Neon', sans-serif;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: #FFFFFF;
  color: black;
}

/* Common button styles, especially for menu buttons */
button {
  cursor: pointer;
  background: none;
}

/* Style your navigation menu */
.nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #333; /* Or your preferred color */
  z-index: 1000;
  text-align: center;
}

.menu-toggle {
  display: none; /* Hidden by default, will show on mobile */
  font-size: 30px; /* Adjust as needed */
  color: #fff;
  padding: 10px 20px; /* Adjust as needed */
}

/* Style for the actual drawer menu */
.mobile-menu-open {
  display: none; /* Hidden by default, shown by JavaScript when the menu is opened */
  position: fixed;
  top: 0;
  right: 0;
  width: 75%; /* Taking 75% of viewport width */
  height: 100%;
  background-color: #444; /* Dark background for the menu */
  overflow-y: auto; /* Allowing scroll if content is more */
  z-index: 1001; /* Making it on top of everything else */
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%); /* Pushing it off-screen */
}

.mobile-menu-open.open {
  display: block; /* Now it's shown because the menu is open */
  transform: translateX(0); /* Bring back to screen */
}

.mobile-menu-open ul {
  padding: 20px 0; /* Space at the top and bottom of menu items */
}

.mobile-menu-open li {
  padding: 15px 20px; /* Space around menu items */
}

.mobile-menu-open li a {
  color: #fff; /* White text for visibility against dark background */
  font-size: 24px; /* Larger font for better mobile touch */
  text-transform: uppercase; /* Capitalize, for style */
  text-decoration: none;
  transition: color 0.3s ease;
}

.mobile-menu-open li a:hover {
  color: #f1f1f1; /* Slightly off-white for hover effect */
}

/* Adjustments for screen size */
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block; /* Show only on small screens */
  }
}

/* Additional, global styles may follow */
