*, *:before, *:after {
    box-sizing: border-box; /* Include padding and border in element's width and height */
	/*outline: 1px solid red;*/
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: black;
    margin: 0;
    padding: 0;
}

/* Navigation styles for larger screens */


.header {
    text-align: center; /* Center the nav */
    z-index: 1000;

}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block; /* Align the menu items */
    background-color: transparent;    z-index: 1000;
	transition: max-height 0.3s ease-in-out;
}

.menu li {
    display: inline; /* Display menu items inline */
    margin: 0 15px; /* Space between menu items */
}

.menu li a {
    text-decoration: none;
    color: white;
    transition: font-size 0.3s ease-in-out;
}

.menu li.active a,
.menu li a:hover {
    text-decoration: underline;
	font-size: 120%;
}

/* Navigation styles for mobile */

.menu-toggle {
    font-size: 2em;
    background: none;
    border: none;
    cursor: pointer;
    display: none; /* Hide the toggle button on larger screens */
}

.nav-header {
    display: none;
    justify-content: space-between; /* This pushes the title and menu button apart */
    align-items: center; /* This ensures they are aligned vertically */
    padding: 0 10px; /* Add some space on the sides */
    width: 100%; /* Full width to stretch across the screen */
}
.pc-title{
	display: block;
	height: 2em;
	position: absolute;
    	top: 60%; /* for example, center vertically */
    	left: 1.5%; /* Adjust based on your design */
    	transform: translateY(-50%); /* centers the logo vertically */
	
}
.title-header{
	padding-right: 2rem;
	margin: 1rem;
	height: 2em;
	
}
.menu-toggle {
    /* Remove existing margin if it's causing issues with alignment */
    margin: 0;
}

@media (max-width: 840px) {
	.pc-title{
	display: none;
	
}
	.nav-header{
		display: flex;
	}
    .menu-toggle {
        display: block; /* Show the toggle button on mobile */
	    color: white;
    }
	.nav-header {
        padding: 0 20px; /* Optional: Increased padding on mobile for better appearance */
    }

    .menu {
    /* display: none; Remove this line */
    max-height: 0; /* Change from display to max-height for transition effect */
    overflow: hidden; /* Prevents content from being visible when max-height is 0 */
    transition: max-height 0.3s ease-in-out; /* Transition effect */
    /* ... your other styles ... */
}

    .menu.open {
    /* display: block; Remove this line, not needed with the new transition */
    max-height: 500px;
  }
	.menu li a {
    font-size: small;
}
	.menu li.active a, .menu li a:hover {
    font-size: medium;
}
}

/* ... rest of your CSS ... */
.drawer-menu ul {
    list-style: none;
    padding-left: 0;
}
.drawer-menu ul li.active a {
    text-decoration: underline;
	font-size: 120%;
}
.drawer-menu {
        display:none;
    }
.drawer-menu ul li a {
	text-decoration: none;
	color: black;
}
.drawer-menu ul li {
	padding-bottom: 1rem;
}

@media (max-width: 840px) {
    .nav .menu {
        display: none; /* Hide the original menu */
    }
    .nav{
	display: flex;
    }
    .nav .menu-toggle {
        display: flex; /* Show the toggle button on mobile */
	margin-right: 1rem;
    }

    /* Styles for the drawer menu on mobile */
    .drawer-menu {
	display: block;
        position: fixed;
        top: 0;
        right: -100%; /* Start off screen */
        width: 70%; /* Adjust as needed */
        height: 100%;
        background-color: #ffffff; /* Your choice of background color */
        z-index: 2000;
        transition: right 0.3s ease-in-out;
        padding-top: 60px; /* Space for close button */
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3); /* Shadow effect */
    }

    .drawer-menu.open {
        right: 0; /* Bring on screen when opened */
    }

    /* Close button style */
    .close-button {
        position: absolute;
        right: 20px;
        top: 10px;
        font-size: 1.5em;
        background: none;
        border: none;
    }
}
/* Add the rest of your styles below as they are */

.header {
   position: relative;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #0D0E11;
    padding: 20px 10px 10px 20px;
    transition: transform 0.3s ease-in-out;
}



.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1% 2rem 2rem 2rem; /* Add padding to prevent content from touching screen borders */
}

.about img {
    max-width: 300px;
    height: auto;
    flex: 1;
    margin: 0;
    border-radius: 50%;  /* This line crops the image into a circle */
}


.text-about {
    flex: 1;
    max-width: 500px;
    padding: 0 1rem; /* Add horizontal padding for better spacing */
}

.text-about h3 {
    margin-top: 0;
}

@media (max-width: 1000px) {
    .about {
        flex-direction: column;
        padding: 1rem; /* Adjust padding for mobile */
    }

    .text-about {
        text-align: center;
        padding: 1rem 0; /* Adjust vertical padding for better spacing on mobile */
	max-width: 90%;

    }
	
.about img {
	max-width: 40%;
	height: auto;
}}

/* CSS for Banner */
.banner {
    display: block;
    width: 100%;
    max-width: 2575px;
    margin: auto;
    position: relative; /* or absolute */
    z-index: -1;
    padding-bottom: 1rem;
	margin-top: -71px;

}
.banner-phone {
    display: none;
    width: 100%;
    max-width: 2575px;
    margin: auto;
    position: relative; /* or absolute */
    z-index: -1;
    padding-bottom: 1rem;
	margin-top: -100px;

}
.banner-image {
    width: 100%;
    height: auto;
}

/* CSS for Image Rows */
.image-row {
    max-width: 1700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px; /* Adjust as needed */
    padding: 1%; /* Adjust as needed to provide spacing from the page border */
    justify-content: center; /* Center the cards */
    margin: auto; /* Ensures centering */
}

.image-card {
    position: relative;
    flex: 0 1 45%; /* Set to 45% to account for the gap and ensure only two cards per row */
    max-width: 45%; /* Set to 45% to account for the gap and ensure only two cards per row */
    aspect-ratio: 16 / 10;
    box-sizing: border-box; /* Ensures padding and border are included in the element's dimensions */
    margin: auto; /* Ensures centering */
	justify-content: center;
    display: flex;
}


.image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
	border: 1px solid #e0e0e0;
    border-radius: 10px;
}

.image-card:hover img {
    transform: scale(1.05); /* Adjust as needed */
}

.image-card div {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Adjust as needed */
    color: white;
    width: 80%;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
	transition: transform 0.3s ease-in-out;
	border: 1px solid #e0e0e0;
    border-radius: 10px;
}

.image-card:hover div {
    opacity: 1;
	transform: scale(1.05);
}

/* Responsive styles */
@media (max-width: 840px) {
    .image-card {
        flex: 0 1 100%;
        max-width: 100%;
        margin: auto; /* Ensures centering */
    }
	.image-row {
		padding-right: 8%;
		padding-left: 8%;
	}
}

@media (max-width: 700px) {
	.banner {
		display: none;
	}
	.banner-phone {
		display: block;
	}
}

/* Max size for image cards */
@media (min-width: 1920px) {
    .image-card {
        max-width: 891.6px; /* Adjust as needed */
    }
}/* CSS for Title */
.title-container {
    text-align: center; /* Center the text */
    width: 100%;
}

.title-text {
    margin: 0 auto; /* Center the title */
    text-align: center;
    max-width: 80%;
    padding-bottom: 2%;
}

/* Responsive title size */
@media (max-width: 840px) {
	.header {
    	padding: 1px;
    }
}

@media (max-width: 480px) {
    .title-text {
        font-size: 1.17em; /* Adjust as needed */
    }
}
