body {
    font-family: 'Tilt Neon', sans-serif; /* Update this to 'Tilt Neon' if you're using a different font */
    background-color: #FFFFFF; /* Creamy beige color */
    color: black; /* Black text color */
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
}

nav li {
    margin-left: 15px;
}
nav a {
    text-decoration: none;
    color: black;
}

nav .active a, nav a:hover {
    text-decoration: underline;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7; 
    border-bottom: 2px solid #ddd;
    padding: 10px 20px;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem; /* Add padding to prevent content from touching screen borders */
}

.about img {
    max-width: 300px;
    height: auto;
    flex: 1;
    margin: 0;
    border-radius: 50%;  /* This line crops the image into a circle */
}


.text-about {
    flex: 1;
    max-width: 500px;
    padding: 0 1rem; /* Add horizontal padding for better spacing */
}

.text-about h3 {
    margin-top: 0;
}

@media (max-width: 1000px) {
    .about {
        flex-direction: column;
        padding: 1rem; /* Adjust padding for mobile */
    }

    .text-about {
        text-align: center;
        padding: 1rem 0; /* Adjust vertical padding for better spacing on mobile */
	max-width: 90%;

    }
.about img {
	max-width: 40%;
	height: auto;
}}

/* CSS for Banner */
.banner {
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

.banner-image {
    width: 100%;
    height: auto;
}

/* CSS for Image Rows */
.image-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px; /* Adjust as needed */
    padding: 16px; /* Adjust as needed to provide spacing from the page border */
    justify-content: center; /* Center the cards */
    margin: auto; /* Ensures centering */
}

.image-card {
    position: relative;
    flex: 0 1 45%; /* Set to 45% to account for the gap and ensure only two cards per row */
    max-width: 45%; /* Set to 45% to account for the gap and ensure only two cards per row */
    aspect-ratio: 16 / 10;
    box-sizing: border-box; /* Ensures padding and border are included in the element's dimensions */
    margin: auto; /* Ensures centering */
}


.image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.image-card:hover img {
    transform: scale(1.05); /* Adjust as needed */
}

.image-card div {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Adjust as needed */
    color: white;
    width: 100%;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.image-card:hover div {
    opacity: 1;
}

/* Responsive styles */
@media (max-width: 768px) {
    .image-card {
        flex: 0 1 100%;
        max-width: 100%;
        margin: auto; /* Ensures centering */
    }
}

/* Max size for image cards */
@media (min-width: 1920px) {
    .image-card {
        max-width: 540px; /* Adjust as needed */
    }
}/* CSS for Title */
.title-container {
    text-align: center; /* Center the text */
    padding: 20px; /* Adjust as needed */
    width: 100%;
}

.title-text {
    font-size: 2em; /* Adjust as needed */
    margin: 0 auto; /* Center the title */
    max-width: 100%;
    word-wrap: break-word; /* Wrap text to the next line */
}

/* Responsive title size */
@media (max-width: 768px) {
    .title-text {
        font-size: 1.5em; /* Adjust as needed */
    }
}

@media (max-width: 480px) {
    .title-text {
        font-size: 1em; /* Adjust as needed */
    }
}
